body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  margin-left: 450px;
}

ol, ul {
  padding-left: 30px;
}

button {
  margin: 2px;
  box-shadow: 1px 2px 5px gray;
}

div {
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font: 40px "Chalkduster", monospace;
}

.button-panel {
  margin-bottom: 20px;
}

.square {
  background: #d3d3d3;
  border: 5px solid #000;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: 5px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  box-shadow: 1px 4px 5px gray;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-leaderboard {
  margin-top: 100px;
  margin-left: 75px;
  text-align: left;
  font: 20px "Apple Chancery", Futura, sans-serif;
}

.incorrect {
  background: #990000;
}

.correct {
  background: #2774AE;
}

.exists-wrong-position {
  background: #FFD100;
}

/* This is where the working instruction button begins */

/*
*, *::after, *::before {
  box-sizing: border-box;
}
*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out; 
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
   transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px; /* padding around header items */
  display: flex; /* so things in header are side by side */
  justify-content: space-between; /* space between header items */
  align-items: center; /* align header  items in the center */
  border-bottom: 1px solid balck;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* This is where the working instruction button ends */

