body {
  margin: 20px;
}

h1 { font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }


button {
  margin: 2px;
}

div {
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 5px;
  justify-content: center;
}

.board {
  margin:auto;
  justify-content: center;
  width: 550px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.button-panel {
  margin-bottom: 20px;
}

.square {
  background: #ececec;
  border: 2px solid rgb(185, 181, 181);
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: 5px;
  margin-top: -1px;
  padding: 0;
  width: 100px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-leaderboard {
  position: absolute;
  top: 100px;
  right: 50px;
  padding: 10px;
  text-align: left;
}

.incorrect {
  background: #990000;
}

.correct {
  background: #2774AE;
}

.exists-wrong-position {
  background: #FFD100;
}

:focus {
  outline: none !important;
}

@media all and (max-width: 900px) {
  .game-leaderboard { display: none; }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out; 
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
   transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px; /* padding around header items */
  display: flex; /* so things in header are side by side */
  justify-content: space-between; /* space between header items */
  align-items: center; /* align header  items in the center */
  border-bottom: 1px solid balck;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}